/* GLOBAL STYLESHEET */

/* Typography */

/* Layout */

/* Forms */

form {
    border: 2px solid black;
    padding:15px;
}100

form label {
    display: block;
    margin-bottom: 10px;
}

form button {
    margin-top: 15px;
}