/* GLOBAL STYLESHEET */

/* Typography */

/* Layout */

/* Forms */

form {
    border: 2px solid black;
    padding:15px;
    background: purple;
    color:white;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form button {
    margin-top: 15px;
}

footer {
    background-color:black;
    color:beige;
}